Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
channels
channels-redis
daphne
firebase-admin
google-generativeai
google-cloud-firestore
google-cloud-storage
psycopg2-binary
razorpay
python-dotenv
requests
ujson
pydantic