Django==4.2.11
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
channels==4.0.0
channels-redis==4.1.0
daphne==4.0.0
firebase-admin==6.5.0
google-generativeai==0.4.0
google-cloud-firestore==2.15.0
google-cloud-storage==2.14.0
psycopg2-binary==2.9.9
razorpay==1.4.1
python-dotenv==1.0.1
requests==2.31.0
ujson==5.9.0
pydantic==2.5.3
gunicorn==21.2.0
Pillow==10.2.0
whitenoise==6.6.0
setuptools==69.5.1
dj-database-url==2.1.0
psycopg2-binary==2.9.9
django-redis==5.4.0